body {
    font-size: 95%;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    width: 900px;
    margin: 0 auto;
}

#left {
    width: 400px;
    float: left;
    margin: 0px 10px 10px 10px;
}

#right {
    float: left;
    width: 400px;
    margin: 0px 10px 10px 10px;
}

h1 {
    text-align: center;
    margin-bottom: 5px;
}

h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

h3 {
    text-align: center;
}

.code {
    font-family: monospace;
    list-style: none;
}

.error {
    font-size: 120%;
    color: red;
}


.footer {
    float: left;
    margin: 0 auto;
    width: 900px;
    height: 60px;
    background-color: #EAEAEA;
}
.footer .text {
    margin-top: 20px;
    height: 40px;
    width: 900px;
    text-align: center;
}
